<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Contact Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-header color="primary">
    <ion-card-title>Vinay Computers</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <address><br>
      Vinay Computers<br>
      Rampur Road<br>
      Shivneri Nagar<br>
     Tq : Degloor , Dist : Nanded<br>
      Mobile No: 9420846838<br>
      Email : vinay6838@gmail.com<br>
    
    </address>
  </ion-card-content>
</ion-card>
</ion-content>