<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Computer Parts</ion-title>
  </ion-toolbar>
  <ion-toolbar color="medium">
    <ion-searchbar [(ngModel)]="term" showCancelButton="focus"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text color="medium">
    <h5 style="padding-left: 20px;">Recent Computer Parts</h5>
  </ion-text>
  <ion-slides [options]="sliderConfig">
    <ion-slide *ngFor="let item of data | slice:0:5">
      <ion-card>
        <ion-card-content>
          <div style="min-height:50px">
            {{item.computerPart_title | slice:0:25}}
          </div>
          <span class="text-danger"> MRP : {{ item.computerPart_price }} </span>
          <img src="http://localhost/adminVinay/app/media_automator/upload/{{item.computerPart_img}}" />
          <ion-button (click)="goToDetails(item.computerPart_id)" color="medium" expand="full">View </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
  <hr>
  <ion-text color="medium">
    <h5 style="padding-left: 25px;">All Computer Parts</h5>
  </ion-text>
  <div>
    <ion-list class="ion-no-padding ">
      <ion-item *ngFor="let item of data |filter:term">
        <ion-thumbnail slot="start" style="width:150px;height:75px;">
          <img src="http://localhost/adminVinay/app/media_automator/upload/{{item.computerPart_img}}" />
        </ion-thumbnail>
        <ion-label class="ion-text-wrap">
          <h2>{{item.computerPart_title}}</h2>
          <ion-button (click)="goToDetails(item.computerPart_id)" size="small" color="medium" class="pull-right" >View </ion-button>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

</ion-content>