<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="../../../assets/com.jpg" (click)="goToLaptop()" />
    <ion-card-header>
      <ion-card-title color="medium">About Vinay Computers</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div style="text-align: justify;">
        <p class="indent">Launched in May 2004,<strong class="text-secondary"> “Vinay Computers”</strong> started with a
          simple idea of offering
          users in
          <strong class="text-secondary">Degloor</strong> with dependable Technical Support and Quality <strong
            class="text-secondary">Computer Repair</strong>
          Service,
          backed by a knowledgeable & certified team of resources; serving & sales
        </p>

        <p class="indent">We are located in Degloor, and just 2 minutes distance from Old Bus-Stand. With commitment to
          quality,
          honest
          practice and fair prices we look forward to a prosperous business relationship ahead.</p>
        <p class="indent">We support home PC user to small and medium enterprises in their diverse computing needs.</p>

        <p class="indent">We understand importance of computer in your business. We have dedicated team to fix your
          computer
          problem
          on
          priority, So that your work doesn’t interrupt. We serve our corporate customers on priority, Our guarantee!
        </p>
        <p class="indent">A team of certified professionals who have expertise in Personal Computer hardware and
          software
          technologies. We
          have
          been selling and supporting Personal Computers, Local Area Networks, Desktop, Server Platforms and
          Application
          Software for more than 11 years .</p>
        <p class="indent">Our services are being enjoyed by homes and businesses for more than 11 years. We have more
          than
          5000+
          satisfied
          customers. We have a combination of hardware, software and solution competencies. We are equipped to provide
          prompt,
          competent, reliable and honest service to our customers in Degloor and at their convenience</p>
        <p class="indent">We have access to all the major brands of desktop computers, laptops, netbooks, ultrabooks,
          tablets,
          etc.
          Our goal
          is
          to find you the latest models that will suit your needs based upon your requirements for use and style/look
          We also carry all the other accessories associated with computer technology including: monitors, external
          hard
          drives,
          printers and multi-functions, WIFI routers, UPS battery back-ups, speakers and other peripherals</p>
        <p class="indent">Vinay Computer is just the name you need to remember and all your IT related problems will
          never be
          problems to
          you.
          <strong class="text-secondary">Vinay Computer is specialized in providing IT Support, Laptop & Desktop
            Computer Repair, Annual Maintenance
            Contract (AMC), Networking, Printer Repairing to all types of Home users, Corporate concerns and Government
            entities. also offers Servers, Networking, Desktops, Laptops, Tally, Licensed OS and Software professional
            services
            for setting up LAN, WAN, VPN, Wi-Fi, Annual Maintenance Cotract (AMC), Repairing Laptops & Desktops
            Computers etc
            n
            Degloor Dist: Nanded.</strong>
        </p>
        <p class="indent">Vinay Computers can repair any desktop or laptop computer problem, no matter which operating
          system,
          brand,
          make,
          or
          model. The expert technicians at Vinay Computers can help your family with your entire computer repair or
          service
          needs for PC’s, Macs, and laptops including Desktop Repair,Laptop Repair,Printer Repair, Networking Set Up,
          Wireless
          LAN Setup, PC Upgrades,Virus Removal,Adware Removal,Spyware Removal,Antivirus,Internet Security,Hardware
          maintenance,Data Recovery,Cable/DSL Installation,CCTV Installation, E-Suvidha, Adhar Card Enrollment,PC Tune
          Up,
          Education & Many more....</p>
      </div>
    </ion-card-content>
  </ion-card>



</ion-content>